body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

#contenido-texto{
    width: 1170px;
    height: 600px;
    background: rgba(255,255,255,0.5);
    margin: auto;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 21;
}

#contenido-texto .texto,
#contenido-texto .categoria,
#contenido-texto .boton{
    position: absolute !important;
}

.texto-fondo{
    padding: 10px 20px;
}

.texto span,
.categoria span,
.boton span{
    float: left;
    margin-left: 10px;
}

span .tipo{
    display: none !important;
}

.texto a, .texto a:hover,
.categoria a, .categoria a:hover,
.boton a, .boton a:hover{
    background: #000;
    color: #fff;
    padding: 5px;
    display: block;
}

.activado{
    color: #f00 !important;
}

/* OPCIONES */
#opciones{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 0 0 10px 0;
}

#opciones ul li{
    margin: 10px;
}

#opciones ul li a{
    font-size: 24px;
    color: #fff;
}

#opciones ul li:last-child{
    display: none;
}

#opciones-estilos, #opciones-estilos-fondo, #configuracion{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 500px;
    border-radius: 0 0 0 10px;
    padding: 20px;
}

#opciones-estilos .opciones, #opciones-estilos-fondo .opciones {
    margin-bottom: 22px;
}
#opciones-estilos .opciones:last-child {
    margin-bottom: 0;
}

#opciones-estilos .opciones:last-child h4{
    float: left;
    margin: 5px 10px 0 0;
}

/* CLASES */

/* SOMBRA */
.sombra{
    text-shadow: 3px 2px 5px #000000;
    -moz-text-shadow: 3px 2px 5px #000000;
    -webkit-text-shadow: 3px 2px 5px #000000;
    -ms-text-shadow: 3px 2px 5px #000000;
    -o-text-shadow: 3px 2px 5px #000000;
    filter: dropshadow(color=#000000, offx= 3, offy=2);
}

/* CATEGORIA */
.categoria div{
    position: relative;
    border-bottom: 1px solid #fff;
    padding-right: 150px;
    color: #ffffff;
    float: left;
    font-size: 32px;
}

.categoria div:before{
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 2px;
    width: 100%;
    content: '';
    display: block;
    background: #fff;
}

/* TEXTO */
.texto div{
    color: #ffffff;
    float: left;
    font-size: 80px;
}

/* BOTON */
.boton div{
    font-size: 20px;
    color: #ffffff;
    padding: 5px 30px;
    float: left;
    border: 1px solid #ffffff;
    position: relative;
}

.boton div:before{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    border: 2px solid #ffffff;
    padding: 0 6px 6px 0;
}